[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/flyingmachine/emacs-for-clojure.git
